@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/banner2.css");
@import url("components/events.css");
@import url("components/event.css");




body {
  font-family: 'RobotoMono', sans-serif;
}
h2, h3 {
  font-family: 'RobotoMono', sans-serif;
  font-size: 30px;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
}

h4 {
  font-family: 'RobotoMono', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}