.banner {
  background-image: url("../../images/car3.jpg");
  color: white;
  padding: 150px 0px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-size: 95px;
}

.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.9;
  margin-bottom: 40px;
}