.events {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
}

.event {
	background: #ffcc00;
    opacity: 0.92;
    padding: 30px;
    display: flex;
    align-items: justify;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: 10px 10px;
    flex-basis: 200px;
    flex-grow: 1;

}

.event1 {
    background: #ff751a;
    opacity: 0.92;
    padding: 30px;
    display: flex;
    align-items: justify;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: 10px 10px;
    flex-basis: 200px;
    flex-grow: 1;

}

.event2 {
    background: #ff0000;
    opacity: 0.92;
    padding: 30px;
    display: flex;
    align-items: justify;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: 10px 10px;
    flex-basis: 200px;
    flex-grow: 1;

}

.event3 {
    background: #990000;
    opacity: 0.92;
    padding: 30px;
    display: flex;
    align-items: justify;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: 10px 10px;
    flex-basis: 200px;
    flex-grow: 1;

}